<nav class="navbar fixed-top navbar-dark navbar-expand">
    <a class="text-white navbar-brand" href="/">
    Organic Store
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" 
    aria-label="Toogle navigation">
        <span class="navbar-toggler-icon" ></span>
    </button>

    

</nav>